@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */
body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.container{
  display: flex;
  width: 900px;
  height: 700px;
  border: 1px solid black;

}

.column{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.red{
  background-color: red;
  flex-direction: row;
  justify-content: center;


}

.blue{
  background-color: blue;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
}


.green{
  background-color: green;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.box{
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: white;
  border: 1px solid black;
}